<!DOCTYPE html>
<html>
  <head>
    <title>Administrador de Tareas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  </head>
  <body>
    <h1>Administrador de Tareas</h1>
    <form action="/create" method="POST" class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" name="nombre" id="nombre">
      <input type="text" name="id" id="id" hidden>
      <label for="cadena">Cadena Mundial</label>
      <input type="text" name="cadena" id="cadena">
      <label for="anioFuncion">Año en Funcion</label>
      <input type="text" name="anioFuncion" id="anioFuncion">
      <button type="button" id="guardar" name="guardar">Guardar</button>
    </form>

    <table class="table table-boarded">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Cadena Mundial</th>
          <th scope="col">Año de Funcionamiento</th>
        </tr>
      </thead>

      <tbody class="t-body">

      </tbody>
    </table>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="javascripts/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
